<!DOCTYPE html>

<html>
    <head>
        <title>Fizzed Twitter Module Sample</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <style>
          .twitter p span {
			display: block;
		  }
        </style>
    </head>
    <body>
    	<div class="twitter">
        @for(t <- Application.twitter().tweets()) {
           @Html(com.fizzed.play.twitter.TweetRenderer.renderHtml(t))	
        }
	@if(Application.twitter().tweets().isEmpty()) {
           Your twitter feed either contains no tweets OR you did not edit conf/application.conf with your Twitter API keys.	
        }
        </div>
    </body>
</html>
